extends layout
block content 
    main.container(role='main' style="padding-top: 60px;")  
        img(src='https://m.media-amazon.com/images/M/MV5BZWRhMzdhMzEtZTViNy00YWYyLTgxZmUtMTMwMWM0NTEyMjk3XkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_UX182_CR0,0,182,268_AL_.jpg' class='rounded float-right' alt='...')                
        table.table.table-hover(style="padding-top: 60px;width:75%")
          thead
            tr
              th(scope='col') #
              th(scope='col') Name
              th(scope='col') UUID
              th(scope='col') Role
              th(scope='col') Status
          tbody
            each  val in User,index=1
              tr
                th(scope='row') #{index++}
                td #{val.name}
                td #{val.uuid}
                td #{val.role}
                td #{val.verified}
                td
                  a(href='/'+val.uuid)
                    i.fas.fa-edit.fa.2x

