extends layout
block content 
    main.container(role='main' style="padding-top: 60px;")  
        img(src='https://m.media-amazon.com/images/M/MV5BZWRhMzdhMzEtZTViNy00YWYyLTgxZmUtMTMwMWM0NTEyMjk3XkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_UX182_CR0,0,182,268_AL_.jpg' class='rounded float-right' alt='...')                
        form(action='/api/user' method='POST')
          .form-row
              .form-group.col-md-6
                label(for='inputName' ) Name                   
                input#inputZip.form-control(type='text' required,name='name')
                label(for='inputName') EHR Name                   
                input#inputZip.form-control(type='text' required,name='ehrName')
                label(for='inputState') Role      
                select#inputState.form-control(name='role')
                  option(selected='lll') Choose...
                  option(value='Doctor') Doctor        
                  option(value='Medical_Assistant')  Medical Assistant
                  option(value='Registered_Nurse ')  Registered Nurse        
                  option(value='Secondary_Provider')  Secondary Provider                
                  option(value='Physician_Assistant')  Physician Assistant
                label(for='inputEmail4') Email  
                input#inputEmail4.form-control(type='email', placeholder='Email',name='email')
                label(for='Phone' ) Phone                   
                input#inputZip.form-control(type='text', name='phone')
                label(for='inputPassword4') Password     
                input#inputPassword4.form-control(type='password', placeholder='Password',name='password',onchange='validate('+password+','+confirmPassword+')')
                label(for='inputPassword4') Confirm Password     
                input#inputPassword5.form-control(type='password', placeholder='Confirm Password',name='confirmPassword',onmouseover='validate('+password+','+confirmPassword+')',onchange='validate('+password+','+confirmPassword+')')              
           
              
            button.btn.btn-primary(type='submit',disabled=true,onmouseover='validate('+password+','+confirmPassword+')') Enroll        
