doctype html
html(lang='en')
  head
    meta(charset='utf-8')  
    title Clara
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='javascripts/bootstrap.js')
    script.
      function validate(val1,val2) {
      if($("#inputPassword4").val()==$("#inputPassword5").val())
      {  
          $("button").attr("disabled", false);
      }
      else{
          $("button").attr("disabled", true);

      } 
      }
    link(href='fontawesome-free/css/all.css', rel='stylesheet')
    body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      a.navbar-brand(href='/home') CLARA ADMIN
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon  
      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home')
              Home 
              span.sr-only (current)
                 
          li.nav-item
            a.nav-link(href='/') Add User                
          //- li.nav-item
          //-   a.nav-link.disabled(href='#') Disabled       
          //- li.nav-item.dropdown
          //-   a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown         
          //-   .dropdown-menu(aria-labelledby='dropdown01')
          //-     a.dropdown-item(href='#') Action        
          //-     a.dropdown-item(href='#') Another action          
          //-     a.dropdown-item(href='#') Something else here
    block content          
