extends layout
block content 
    main.container(role='main' style="padding-top: 60px;")  
        img(src='#{userData.qrCode}' class='rounded float-right' alt='...')                
        form(action='/api/updateUser' method='POST')
          .form-row
              .form-group.col-md-6
                label(for='inputName' ) name                 
                input#inputZip.form-control(type='text' required,name='name' ,value='#{userData.name}') 
                label(for='inputName') EHR Name                   
                input#inputZip.form-control(type='text' required,name='ehrName' value='#{userData.ehrName}' )
                label(for='uuid') UUID      
                input#inputZip.form-control(type='text' required,name='uuid' value='#{userData.uuid}' )
                label(for='inputState') Role      
                input#inputZip.form-control(type='text' required,name='ehrName' value='#{userData.role}' )
                label(for='inputEmail4') Email  
                input#inputEmail4.form-control(type='email', placeholder='Email',name='email' value='#{userData.email}')
                label(for='Phone' ) Phone                   
                input#inputZip.form-control(type='text', name='phone' value='#{userData.phone}')
                label(for='deviceMac' ) Device Authorization
                .form-row
                    .col
                      input#inputZip.form-control(type='text' name='deviceMac' value='#{userData.deviceMac}' readonly style="width: 200px;")
                      a.input#inputZip.form-control( data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample',class='rounded float-right') More Device Info
                      #collapseExample.collapse.card.card-body(style="width: 200px;") 
                        label(for='brand') brand :#{userData.make}
                        label(for='deviceName') Device Name:#{userData.model}
                        label(for='ipAddress') Ip Address:#{userData.ip}
                        label(for='osVersion') OS:#{userData.os}
                        label(for='isPinOrFingerprintSet') isPinOrFingerprintSet:#{userData.isPinOrFingerprintSet}   
                        label(for='isTablet') isTablet:#{userData.isTablet} 
                        label(for='deviceType') Device Type:#{userData.deviceType}  
                    .col
                      select#inputState.form-control(name='verified')
                        if userData.verified == 'undefined'
                        option(selected='lll') Choose...
                        option(selected='verified'=='#{userData.verified}',value='verified') Approved        
                        option(selected='pending'=='#{userData.verified}',value='pending')  Pending
                        option(selected='rejected'=='#{userData.verified}',value='rejected') Rejected        
         
            button.btn.btn-primary(type='submit') Update        
